/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

#bottom-header {
	height: 370px;
}

#bottom-header h1 {
	text-align: center;
	padding-top: 40px;
}

#bottom-info {
	margin-bottom: 100px;
	text-align: center;
	margin-top: -200px;
}

#bottom-info img, #bottom-info h2 {
	padding-bottom: 20px;
}

#bottom-info h5 {
	line-height: 140%;
	letter-spacing: .75px;
}

footer {
	height: 100px;
}

footer p {
	padding-left: 100px;
	color: #3a4b58;
}

footer img {
	height: 25px;
}

.social-media li {
	padding: 4px;
	list-style: none;
	display: inline-block;
	float: right;
}

.social-media {
	padding-right: 100px;
}