#bottom-header {
	height: 370px;
}

#bottom-header h1 {
	text-align: center;
	padding-top: 40px;
}

#bottom-info {
	margin-bottom: 100px;
	text-align: center;
}

#bottom-info h2 {
	padding-bottom: 20px;
}

footer {
	width: 100%;
}

footer h6 {
	padding-left: 100px;
	margin-bottom: 40px;
	color: #3a4b58;
}