#bottom {
	height: 500px;
}

#bottom h1 {
	text-align: center;
	margin-top: 25px;
}

#bottom-info {
	margin-bottom: 100px;
	text-align: center;
}

footer h6 {
	padding-left: 100px;
	margin-bottom: 40px;
	color: #3a4b58;
}