/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

.map {
	background-image: url('../images/jomo charlotte-map-pins2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid #30cf83;
	margin-top: -5px;
	width: 100%;
	display: flex;
}

.phonemap img {
	width: 300px;
	margin-top: 82px;
}

.phonemap {
	padding: 0;
}

.map-info {
	margin-top: 16rem;
	vertical-align: middle;
	padding: 0;
}

.map-info h1 {
	font-size: 30pt;
}

.map-info p {
	font-size: 18pt;
	font-weight: 550;
	margin-top: 20px;
}