/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

.map {
	border-top: 1px solid #30cf83;
	margin-top: -5px;
	width: 100%;
	display: flex;
}

/*.vertical-align {
	display: table-cell;
}*/

.phonemap img {
	width: 300px;
	margin-top: 82px;
}

.phonemap {
	padding: 0;
}

.vertical-margin {
	margin-top: 18rem;
	vertical-align: middle;
}

.vertical-margin h1 {
	font-size: 30pt;
}

.vertical-margin p {
	font-size: 20pt;
	margin-top: 20px;
}