/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

.partnerships {
	background-color: #e6e6e6;
	width: 100%;
	text-align: center;
}

.partnerships h1 {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
	color: #696a6d;
}

.partnerships p {
	color: #696a6d;
	font-size: 16pt;
	font-family: "GT-Walsheim-Thin";
	margin-bottom: 3rem;
}

.partners {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.partners div {
	border-right: 1px solid #30cf83;
}

.partners a img {
	height: 80px;
	padding: 10px;
	margin-bottom: 3rem;
	vertical-align: middle;
}
