/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

.partnerships {
	background-color: #f5f5f5;
	width: 100%;
	text-align: center;
	margin-top: -5px;
}

.partnerships h1 {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2.5rem;
	color: #3a4b58;
}

.partnerships p {
	font-size: 16pt;
	margin-bottom: 5rem;
}

.text-center img {
	margin-bottom: 4rem;
}

.partners {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-left: 15px;
	padding-right: 15px;
}

.partners a img {
	height: 80px;
	padding: 10px;
	margin-bottom: 3rem;
	vertical-align: middle;
}
