/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

@media (max-width: 990px) {

	.time-logo-section h3, .time-logo-section form, .time-logo-section a {
		padding-left: 10px;
	}

	.time-logo-section {
		margin-left: 15%;
	}

}

@media (min-width: 990px) {

	.phone-img {
		margin-bottom: 6rem;
	}
}

@media (max-width: 823px) {

	.time-logo-section h3, #phone, #phone input {
		font-size: 16pt;
	}
}

@media (max-width: 699px) {

	
}

@media (max-width: 630px) {

	.time-logo-section a img {
		padding: 5px;
	}
}

@media (max-width: 543px) {

	.time-logo-section h3, #phone, #phone input {
		font-size: 14pt;
	}
}