/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

@media (max-width: 990px) {

	.jomo-logo {
		width: 50%;
		text-align: center;
	}

	.time-logo-section h3, .time-logo-section form, .time-logo-section a {
		padding-left: 10px;
	}

	.time-logo-section {
/*		margin-left: 15%;
*/		margin-top: -4rem !important;
	}

	.time-logo-section  a {
		text-align: center;
	}

	.phone-img img {
		text-align: center;
		margin-right: 0px;
	}

	.donating h2 {
		font-size: 24pt;
	}
}

@media (min-width: 990px) {

	.phone-img {
		margin-bottom: 6rem;
	}
}

@media (max-width: 823px) {

	.time-logo-section h3, #phone, #phone input {
		font-size: 16pt;
	}
}

@media (max-width: 767px) {

	.time-logo-section h3 {
		font-size: 14pt;
	}
}

@media (max-width: 630px) {

	.time-logo-section a img {
		padding: 5px;
	}

	.time-logo-section {
		margin-top: -8rem !important;
	}
}

@media (max-width: 590px) {

	.time-logo-section h3, #phone, #phone input {
		font-size: 12pt;
	}
}

@media (max-width: 543px) {

	#phone, #phone input {
		font-size: 12pt;
	}

	.time-logo-section {
		margin-top: -8rem !important;
	}
}

/*@media (max-width: 450px) {

	.footer p {
		
	}

}*/