/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

@font-face {
	font-family: GT-Walsheim-Medium;
	src: url(GT-WALSHEIM-PRO-MEDIUM_0.TTF);
}

@font-face {
	font-family: GT-Walsheim-Thin;
	src: url(GT-Walsheim-Pro-Trial-Thin.otf);
}

@font-face {
	font-family: GT-Walsheim-Oblique;
	src: url(GT-Walsheim-Pro-Trial-Light-Oblique.otf);
}

@font-face {
	font-family: SourceSansPro-Light;
	src: url(SourceSansPro-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Bold;
	src: url(UntitledSansTest-Bold.otf);
}

@font-face {
	font-family: UntitledSansTest-Light;
	src: url(UntitledSansTest-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Medium;
	src: url(UntitledSansTest-Medium.otf);
}

html, body {
	overflow-x: hidden;
	width: 100%;
}

.time-logo-section h3, .partnerships h1, .bottom-info h2, .bottom-header h1, .map-info h1  {
	font-family: "GT-Walsheim-Medium";
	color: #3a4b58;
}

.header-under h4 {
	font-family: "GT-Walsheim-Thin";
	color: #3a4b58;
}

.sms-text, #phone, #phone input, .input-group-field::placeholder, .header-under p, .header-under input, .input-group-button input, .map-info p, .partnerships p, .bottom-info h5, footer p {
	font-family: "UntitledSansTest-Light";
	color: #696a6d;
}