/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

@font-face {
	font-family: GT-Walsheim-Medium;
	src: url(GT-Walsheim-Pro-Trial-Medium.otf);
}

@font-face {
	font-family: GT-Walsheim-Thin;
	src: url(GT-Walsheim-Pro-Trial-Thin.otf);
}

@font-face {
	font-family: GT-Walsheim-Oblique;
	src: url(GT-Walsheim-Pro-Trial-Light-Oblique.otf);
}

@font-face {
	font-family: SourceSansPro-Light;
	src: url(SourceSansPro-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Bold;
	src: url(UntitledSansTest-Bold.otf);
}

@font-face {
	font-family: UntitledSansTest-Light;
	src: url(UntitledSansTest-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Medium;
	src: url(UntitledSansTest-Medium.otf);
}

.jumbotron {
	width: 100%;
}

.align-vertical h4, #top-section h4, #phone, #phone input, .vertical-margin p, #bottom-info h5, footer p {
	font-family: "GT-Walsheim-Thin";
	color: #3a4b58;
}

#bottom-info h2, #bottom-header h1, .vertical-margin h2, .partnerships h1 {
	font-family: "GT-Walsheim-Medium";
	color: #3a4b58;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}