/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

.container-fluid {
	padding: 0;
}

.top-section {
	display: inline-block;
/*	height: 700px;
*/}

.jomo-logo {
	width: 180px;
	margin: 40px;
	margin-bottom: 50px;
}

.time-logo-section {
	/*margin-top: 3rem;*/
	padding-left: 5rem;
	margin-bottom: 5rem;
	padding-top: 5rem;
}

.time-logo-section h3 {
	line-height: 140%;
}

.phone-img {
	padding: 0px;
	/*margin-bottom: 5rem;*/
}

.phone-img img {
	width: 300px;
}

.timelogo {
	padding-bottom: 2%;
	padding-top: 20px;
}

form {
	display: block;
	border-bottom: 3px solid #30cf83;
	width: 100%;
	position: relative;
	min-width: 224px;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
	width: 60%;
	text-align: left;
}

.form-group input {
	border: 0;
	outline: none;
}

.input-group input {
	background-color: transparent;
	vertical-align: middle;
	font-size: 18pt;
	letter-spacing: .95px;
}

.input-group {
	display: table;
	width: 100%;
}

.input-group, .input-group-button {
	display: table-cell;
}

.input-group-button {
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	width: 10%;
	height: 100%;
}

.time-logo-section a img {
	width: 165px;
	display: inline-block;
	padding: 10px;
	padding-left: 0px;
}