.top-section {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-section {
	height: 200px;
}

.header-section img {
	width: 250px;
	margin: 30px;
}

#phonelogo {
	/*height: 600px;
	width: auto;*/
	margin-top: -20px;
	margin-left: 180px;
	margin-bottom: 100px;
}

#timelogo {
	/*width: 700px;*/
	padding-bottom: 50px;
}

.form-group {
	margin-top: 20px;
}

.form-group input {
	border-bottom: 3px solid #30cf83;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 400px;
	box-shadow: none;
	background: none;
}