/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

.bottom-header h1 {
	text-align: center;
	padding-top: 40px;
	margin-bottom: 50px;
	background-color: transparent;
}

.bottom {
	text-align: center;
}

.bottom-info img, .bottom-info h2 {
	padding-bottom: 10px;
}

.bottom-info h5 {
	line-height: 140%;
	letter-spacing: .75px;
	font-size: 14pt;
}

.bottom-info {
	margin-bottom: 100px;
}

.footer {
	margin-bottom: 20px;
	padding-right: 10rem;
	padding-left: 10rem;
}

.footer p {
	float: left;
	vertical-align: middle;
	font-size: 12pt;
}

.footer a {
	float: right;
	display: inline-block;
	padding: .5rem;
}

.footer a img {
	height: 25px;
}